{% extends 'base.html' %} {% block title %}BridgeCare - Create a new account{% endblock
%} 

{% block css %}
<style>
  h2, .end-link {
    text-align: center;
  }
  .form-section {
    width: 98%;
    max-width: 850px;
    margin: 0 auto;
  }
  .agree-label {
    margin-bottom: 30px;
  }
  .end-link {
    display: block;
  }
</style>

{% endblock %}

{% block content %}

<!-- your are in <main></main> -->

<h2>Create a new account</h2>

<section class="form-section">
  <form method="POST">
    {{ form.hidden_tag() }}
    <label>
      Full Name
      <input
        type="text"
        name="fullname"
        placeholder="John Doe"
        required
        aria-required="true"
      />
    </label>
    
    <label>
      Username
      <input
        type="text"
        name="username"
        placeholder="user123"
        required
        aria-required="true"
      />
    </label>

    <label>
      Email
      <input type="email" name="email" placeholder="someone@example.com" required aria-required="true" autocomplete="email" />
    </label>

    <label>
      Password
      <input
        type="password"
        name="password"
        placeholder="*******"
        required
        autocomplete="new-password"
      />
    </label>

    <label>
      Confirm Password
      <input
        type="password"
        name="confirm"
        placeholder="*******"
        required
        autocomplete="new-password"
      />
    </label>

    <label class="agree-label">
      <input type="checkbox" name="agree" required aria-required="true" />
      I have read and I accept <a href="#">Terms and Policies</a>
    </label>

    <input type="submit" name="submit" value="Create Account" />
  </form>
  <a href="/login" class="end-link">Already have an account?</a>
</section>

{% endblock %}
